img {
    border: none;
    max-width: 100%;
}

/* ========= BUTTON =========*/

/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
    display: inline;
    float: left;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.mu-hero-overlay {
    display: inline;
    float: left;
    opacity: 0.94;
    width: 100%;
}

.mu-logo-area {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}

.mu-logo {
    font-size: 72px;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 600;
    height: 350px;
    width: 350px;
    padding: 5px 20px;
    margin-bottom: 13%;
    margin-top: 10%;
}

.mu-logo:hover {
    text-decoration: none;
}

.mu-menu-btn {
    position: fixed;
    right: 15%;
    top: 50px;
    color: #fff;
    font-size: 25px;
    border: 2px solid #fff;
    padding: 5px 14px;
    z-index: 999;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
    border: 2px solid #fff;
}

/*=== Featured section ===*/

.mu-hero-featured-area {
    display: inline;
    float: left;

    width: 100%;
}

.mu-hero-featured-content {
    display: inline;
    float: right;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.mu-event-date-line {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 0px;
    font-weight: 600;
    font-size: 24px;
}

.mu-event-counter-area {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
}

#mu-event-counter {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
}

/*--------------------*/
/* EVENT SCHEDULE */
/*--------------------*/

#mu-schedule {
    background-color: #f8f8f8;
    display: inline;
    float: left;
    width: 100%;
}

.mu-schedule-area {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
}
.mu-schedule-content-area {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
}

/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 991px) {
    .mu-primary-btn {
        font-size: 14px;
        padding: 12px 22px;
    }

    .mu-navbar .mu-menu {
        margin-top: 5px;
    }
}

@media (max-width: 767px) {
    .mu-logo img {
        width: 150px;
    }
}

@media (max-width: 640px) {
    .mu-title-area {
        padding: 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .mu-logo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .mu-hero-featured-area {
        padding: 60px 0 60px;
    }

    .mu-hero-featured-content {
        margin-top: 20px;
    }

    .mu-event-date-line {
        font-size: 12px;
    }

    .mu-schedule-content {
        margin-top: 30px;
    }
}

@media (max-width: 360px) {
    .mu-logo img {
        width: 120px;
    }

    .mu-hero-featured-area {
        padding: 30px 0 30px;
    }
}

#page {
    width: 40%;
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 40%;

    border-radius: 3px;
}

.changingButtons {
    color: #fff;
    font-weight: bold;
    background-color: rgb(201, 197, 192);
}

.list {
    list-style: none;
}

.list-item {
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 20px;
    margin-bottom: 20px;

    animation: 0.5s fade ease-in-out;
}

.list-item:hover {
    background-color: rgba(37, 37, 37, 0.192);
}

.list-item > .item-description {
    margin-bottom: 0.5rem;
}

.list-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        #0069d9 8%,
        rgb(71, 131, 201) 51%,
        #0069d9 100%
    );
    color: #fff;
    padding: 1rem;
}

.sidebtn {
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    background: transparent;
    transition: background-color 0.3s ease;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.sidebtn:hover {
    background: rgba(255, 255, 255, 0.5);
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#navButtons {
    margin-top: 20px;
}

#followButton {
    margin-top: 20px;
}

#editButton {
    display: inline-block;
}
.mu-title {
    color: #1c1b1b;
    margin-bottom: 15px;
    padding: 0;
    z-index: 10;
    text-transform: capitalize;
}
/*=======================================
Template Design By MarkUps	
Author URI : http://www.markups.io/
========================================*/

.mu-hero-overlay,
.mu-video-overlay {
    background: -webkit-linear-gradient(to right, #001c38a4, #000523);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001c38a4, #000523);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
