a {
    text-decoration: none;
    color: #2f2f2f;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

img {
    border: none;
    max-width: 100%;
}

#single-event-main {
    display: inline;
    float: left;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.single-event-main-overlay {
    display: inline;
    float: left;
    opacity: 0.94;
    width: 100%;
}

.single-event-main-logo-area {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}

.single-event-main-logo {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 600;
    background: #fff;
    padding: 5px 20px;
    margin-bottom: 30px;
}

.background-extender {
    opacity: 0;
    padding: 50px;
}

/*=== Featured section ===*/

.single-event-main-featured-area {
    display: inline;
    float: left;
    padding: 60px 0 150px;
    width: 100%;
}

.single-event-main-featured-content {
    display: inline;
    float: right;
    margin-top: 150px;

    text-align: center;
    width: 100%;
}

.single-event-main-featured-content h1 {
    font-size: 45px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px;
}

.single-event-timeline {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
}

/*--------------------*/
/* ABOUT US */
/*--------------------*/

#single-event-about {
    background-color: #fff;
    display: inline;
    float: left;
    width: 100%;
}

.single-event-about-area {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
}

.single-event-about-left {
    display: inline;
    float: left;
    width: 100%;
}

.single-event-about-right {
    display: inline;
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 400px;
}

.eventDescription {
    overflow-y: scroll;
    height: 350px;
}
.eventDescription::-webkit-scrollbar {
    width: 12px;
}
.eventDescription::-webkit-scrollbar-track {
    background: #000623;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.eventDescription::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #000623;
}
.AboutImage {
    width: 600px;
    height: 400px;
}

/*--------------------*/
/* Parallax */
/*--------------------*/

#single-event-parallex {
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline;
    float: left;
    width: 100%;
}

.single-event-parallex-area {
    display: inline;
    float: left;
    padding: 200px 0;
    text-align: center;
    width: 100%;
}

.single-event-parallex-play-btn {
    color: #fff;
    font-size: 22px;

    border-radius: 50%;
    width: 200px;
    display: inline-block;
    height: 200px;
    line-height: 55px;
    text-align: center;
    margin-top: 100px;
}

/*--------------------*/
/* EVENT SCHEDULE */
/*--------------------*/

#single-event-image-gallery {
    background-color: #f8f8f8;
    display: inline;
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/**VENUE**/
/**VENUE**/
#single-event-venue {
    display: inline;
    float: left;
    max-width: 100%;
    overflow: hidden;
    background-color: #010622;
}

.single-event-venue-area {
    display: inline;
    float: left;
    width: 100%;
}

.single-event-venue-map {
    display: inline;
    float: left;
    width: 100%;
}

.single-event-venue-map iframe {
    margin-bottom: -8px;
}

.single-event-venue-address {
    display: inline;
    float: left;
    width: 100%;
    padding: 10% 5%;
    color: #fff;
}

.single-event-venue-address h2 i {
    margin-top: -4px;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
}

.single-event-venue-address h3 {
    margin-top: 15px;
    margin-bottom: 0px;
}

.single-event-venue-address h4 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 25px;
}

/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 991px) {
    .single-event-main-featured-content h1 {
        font-size: 35px;
    }

    .single-event-main-featured-content h2 {
        font-size: 18px;
    }

    .single-event-timeline {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .single-event-main-logo img {
        width: 150px;
    }

    .mu-navbar .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .mu-navbar .mu-menu {
        padding: 0 15px;
    }
}

@media (max-width: 640px) {
    .mu-title-area {
        padding: 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .single-event-main-logo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .single-event-main-featured-area {
        padding: 60px 0 60px;
    }

    .single-event-main-featured-content {
        margin-top: 20px;
    }

    .single-event-main-featured-content h1 {
        font-size: 25px;
    }

    .single-event-main-featured-content h2 {
        font-size: 14px;
    }

    .single-event-timeline {
        font-size: 12px;
    }

    .single-event-parallex-area {
        padding: 100px 0;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    .single-event-venue-address h4 {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .single-event-main-logo img {
        width: 120px;
    }

    .single-event-main-featured-area {
        padding: 30px 0 30px;
    }

    .single-event-parallex-area {
        padding: 50px 0;
    }
    .single-event-parallex-play-btn,
    .single-event-parallex-close-btn {
        font-size: 18px;
        width: 50px;
        height: 50px;
        line-height: 46px;
        margin-top: 50px;
    }
}

/* Image slider  */
/* Image slider  */
/* Image slider  */
/* Image slider  */
.rotatingGallery-parentContainer {
    max-width: initial;
    overflow: hidden;
    width: 100%;
}

.rotatingGallery {
    margin: 3rem auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 75%;
}

@media (min-width: 60em) {
    .rotatingGallery {
        width: 66.66%;
    }
}

@media (min-width: 1140px) {
    .rotatingGallery {
        width: 50%;
    }
}

.rotatingGallery-slide {
    left: 0;
    position: absolute;
    visibility: hidden;
}

.rotatingGallery-slide[data-arrival-index] {
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
    -webkit-transition: visibility 0.7s cubic-bezier(0.694, 0, 0.335, 1),
        -webkit-transform 0.7s cubic-bezier(0.694, 0, 0.335, 1);
    transition: visibility 0.7s cubic-bezier(0.694, 0, 0.335, 1),
        -webkit-transform 0.7s cubic-bezier(0.694, 0, 0.335, 1);
    transition: transform 0.7s cubic-bezier(0.694, 0, 0.335, 1),
        visibility 0.7s cubic-bezier(0.694, 0, 0.335, 1);
    transition: transform 0.7s cubic-bezier(0.694, 0, 0.335, 1),
        visibility 0.7s cubic-bezier(0.694, 0, 0.335, 1),
        -webkit-transform 0.7s cubic-bezier(0.694, 0, 0.335, 1);
}

.rotatingGallery-slide[data-arrival-index="2"],
.rotatingGallery-slide[data-arrival-index="3"],
.rotatingGallery-slide[data-arrival-index="4"] {
    visibility: visible;
}

.rotatingGallery-slide[data-arrival-index="1"] {
    -webkit-transform: translate3d(-330%, 0, 0);
    transform: translate3d(-330%, 0, 0);
}

.rotatingGallery-slide[data-arrival-index="2"] {
    cursor: w-resize;
    -webkit-transform: translate3d(-105%, 0, 0);
    transform: translate3d(-105%, 0, 0);
}

@media (min-width: 60em) {
    .rotatingGallery-slide[data-arrival-index="2"] {
        -webkit-transform: translate3d(-110%, 0, 0);
        transform: translate3d(-110%, 0, 0);
    }
}

.rotatingGallery-slide[data-arrival-index="3"] {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.rotatingGallery-slide[data-arrival-index="3"] .rotatingGallery-text,
.rotatingGallery-slide[data-arrival-index="3"] .rotatingGallery-image,
.rotatingGallery-slide[data-arrival-index="3"] .rotatingGallery-link {
    opacity: 1;
}

.rotatingGallery-slide[data-arrival-index="3"] .rotatingGallery-image {
    -webkit-filter: none;
    filter: none;
}

.rotatingGallery-slide[data-arrival-index="4"] {
    cursor: e-resize;
    -webkit-transform: translate3d(105%, 0, 0);
    transform: translate3d(105%, 0, 0);
}

@media (min-width: 60em) {
    .rotatingGallery-slide[data-arrival-index="4"] {
        -webkit-transform: translate3d(110%, 0, 0);
        transform: translate3d(110%, 0, 0);
    }
}

.rotatingGallery-slide[data-arrival-index="5"] {
    -webkit-transform: translate3d(330%, 0, 0);
    transform: translate3d(330%, 0, 0);
}

.rotatingGallery-text {
    opacity: 0;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}

@media (min-width: 48em) {
    .rotatingGallery-text {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.rotatingGallery-image {
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-filter: sepia(0.5);
    filter: sepia(0.5);

    margin-bottom: 1.5rem;
    opacity: 0.5;
    padding: 1rem;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    width: 900px;
    height: 600px;
}

.rotatingGallery-image:hover {
    opacity: 0.75;
}

@media (min-width: 60em) {
    .rotatingGallery-image {
        padding: 1.75rem;
    }
}

.single-event-main-overlay,
.single-event-parallex-overlay {
    background: -webkit-linear-gradient(to right, #001c38a4, #000523);
    background: linear-gradient(to right, #001c38a4, #000523);
}
